In [1]:
#1.Write a program to print your name
print("My name is:Madhuri")

My name is:Madhuri

In [3]:
n=input("enter your name:")
print(n)

enter your name: Madhuri

Madhuri

In [ ]:
#2.Write a program for a Single line comment and multi-line comments
a=10
b=20
#addition of two numbers
c=a+b
"""
we can write multiple comments 
#in many ways 
"""

In [4]:
#2.Write a program for a Single line comment and multi-line comments
a=10
b=20
#addition of two numbers
c=a+b
#we can write multiple line comments in 2 ways by using """  """ quotes or starting the each line with #.
#here """ """ is not working so we are using #.
print(c)

30

In [11]:
#3.Define variables for different Data Types int, Boolean, char, float, double and print on the console.
a=10
b=4.5
c=True
d="h"
e=9.452376567628
print(type(a))
print(type(b))
print(type(c))
print(type(d)) #In python single character is represented as string of length 1.
print(type(e)) #there is no double data type in python so,float is used for double precision.

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'float'>

In [14]:
#4.Define the local and Global variables with the same name and print both variables and understand the scope of the variables
a=10           #global variable, where it can be accessed from anywhere and have global scope
def add():
    b=20       #local variable ,where it has block scope ,only accessed within the function
    print(a+b)
ob=add()

30